#define IDM_MENU 10000
#define IDM_ADDSTRING 10002
#define IDM_DELETESTRING 10003
#define IDM_FILE_EXIT 10001
#define IDM_HELP_ABOUT 10101
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&AddString",IDM_ADDSTRING
    MENUITEM "&DeleteString",IDM_DELETESTRING
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
